
<%= form_for @user do|f|%>
    <p>
        <%= f.label :username%><br>
        <%= f.text_field :username%>
    </p>
    <p>
        <%= f.label :password%><br>
        <%= f.password_field :password%>
    </p>
    <p>
    <%= f.submit "Okay" %>
    </p>
<%end%>

